    
{% if errors %}
    <p>Authentication Failed !</p>
{% endif %}

    <form action="" method="POST">


        <div class="form-area">
      


          <button  style="margin:10px; padding:10px;padding-right:240px" type="submit" class="btn btn-default btn-block">Click</button>
        </div>
        
    
    </form>

    <div style="margin-left: 25px;" id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'bn,en,gu,hi,kn,ml,mr,pa,sd,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>